/* ***** BEGIN LICENSE BLOCK *****
This file is part of Extended DNSSEC Validator Add-on.

Extended DNSSEC Validator Add-on is free software: you can redistribute it and/or
modify it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Extended DNSSEC Validator Add-on is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
more details.

You should have received a copy of the GNU General Public License along with
Extended DNSSEC Validator Add-on.  If not, see <http://www.gnu.org/licenses/>.
***** END LICENSE BLOCK ***** */


/* Identity popup dnssec icon */
#identity-popup-dnssec-icon {
  height: 38px;
  width: 130px;
  padding: 0;
  -moz-image-region: rect(0px, 130px, 38px, 0px);
  list-style-image: url("chrome://extval/skin/logo.png");
}
/* grey */
#identity-popup-dnssec-icon.domainUnsecured,
#identity-popup-dnssec-icon.nxdomainUnsecured {
  -moz-image-region: rect(0px, 130px, 38px, 0px);
}
/* orange */
#identity-popup-dnssec-icon.secureTransportInsecure {
  -moz-image-region: rect(0px, 520px, 38px, 390px);
}
/* red */
#identity-popup-dnssec-icon.secureAddressSpoofed,
#identity-popup-dnssec-icon.domainBogus,
#identity-popup-dnssec-icon.certInvalidDNSSEC {
  -moz-image-region: rect(0px, 390px, 38px, 260px);
}
/* green */
#identity-popup-dnssec-icon.secureNxdomain,
#identity-popup-dnssec-icon.certDNSSEC,
#identity-popup-dnssec-icon.certCA,
#identity-popup-dnssec-icon.certDNSSEC_CA {
  -moz-image-region: rect(0px, 260px, 38px, 130px);
}

/* Fix default relocated identity popup icon */
#identity-popup-status-box {
  -moz-box-align: end;
}
#identity-popup.verifiedDomain > #identity-popup-container > #identity-popup-status-box > #identity-popup-icon {
  -moz-image-region: rect(64px, 64px, 128px, 0px);
}
#identity-popup.verifiedIdentity > #identity-popup-container > #identity-popup-status-box > #identity-popup-icon {
  -moz-image-region: rect(128px, 64px, 192px, 0px);
}

#identity-popup-extval-label {
  font-weight: bold;
  max-width: 300px;
  min-height: 38px;
}

/* Switch to https button */
#switch-https-box {
  border-radius: 0px;
  border-inline-end: 1px solid var(--urlbar-separator-color);
  border-image-slice: 1 1 1 1;
  margin-inline-end: 4px;
  padding: 3px 5px;
  width: 27px;
}
/*#switch-https-box:hover {
  background-color: ;
}*/
#switch-https-box.disabled {
  display: none;
}
#switch-https-box > #switch-https-icon {
  list-style-image: url("chrome://extval/skin/unsecure.png");
  width: 16px;
}

/*
//Domain is not secured by DNSSEC
  STATE_DOMAIN_UNSECURED                  : "domainUnsecured",
  //Secure denial of existence
  STATE_NXDOMAIN_UNSECURED                : "nxdomainUnsecured",
  //Domain is secured, but domain name does not exist
  STATE_SECURE_NXDOMAIN                   : "secureNxdomain",
  //Domain is secured, invalid signature
  STATE_DOMAIN_BOGUS                      : "domainBogus",
  //Domain is secured, connected address is spoofed
  STATE_SECURE_ADDRESS_SPOOFED            : "secureAddressSpoofed",
  //Domain is secured, remote host verified
  STATE_SECURE_TRANSPORT_INSECURE         : "secureTransportInsecure",
  
  //Domain is secured, cert error
  STATE_CERT_ERROR                        : "certError",
  //Domain is secured, cert validated by DNSSEC
  STATE_CERT_DNSSEC                       : "certDNSSEC",
  //Domain is secured, cert validated by CA
  STATE_CERT_CA                           : "certCA",
  //Domain is secured, cert validated by DNSSEC and CA
  STATE_CERT_DNSSEC_CA                    : "certDNSSEC_CA",
  //Domain is secured, cert invalid by DNSSEC
  STATE_CERT_INVALID_DNSSEC               : "certInvalidDNSSEC",
  
  //Action
  STATE_ACTION : "stateAction",
  // Error or unknown state occured
  STATE_ERROR : "stateError",
*/


/* Hide all conditional elements by default. */
:-moz-any([when-dnssec]) {
  display: none;
}

#identity-popup-secView-extval-domainUnsecured,
#identity-popup-secView-extval-nxdomainUnsecured,
#identity-popup-secView-extval-secureNxdomain,
#identity-popup-secView-extval-domainBogus,
#identity-popup-secView-extval-secureAddressSpoofed,
#identity-popup-secView-extval-secureTransportInsecure,
#identity-popup-secView-extval-certError,
#identity-popup-secView-extval-certDNSSEC,
#identity-popup-secView-extval-certCA,
#identity-popup-secView-extval-certDNSSEC_CA,
#identity-popup-secView-extval-certInvalidDNSSEC {
  width: 200px;
}

#identity-popup[dnssec=domainUnsecured] [when-dnssec~=domainUnsecured],
#identity-popup[dnssec=nxdomainUnsecured] [when-dnssec~=nxdomainUnsecured],
#identity-popup[dnssec=secureNxdomain] [when-dnssec~=secureNxdomain],
#identity-popup[dnssec=domainBogus] [when-dnssec~=domainBogus],
#identity-popup[dnssec=secureAddressSpoofed] [when-dnssec~=secureAddressSpoofed],
#identity-popup[dnssec=secureTransportInsecure] [when-dnssec~=secureTransportInsecure],
#identity-popup[dnssec=certError] [when-dnssec~=certError],
#identity-popup[dnssec=certDNSSEC] [when-dnssec~=certDNSSEC],
#identity-popup[dnssec=certCA] [when-dnssec~=certCA],
#identity-popup[dnssec=certDNSSEC_CA] [when-dnssec~=certDNSSEC_CA],
#identity-popup[dnssec=certInvalidDNSSEC] [when-dnssec~=certInvalidDNSSEC],
#identity-popup[dnssec=stateError] [when-dnssec~=stateError],
#identity-popup[dnssec=stateAction] [when-dnssec~=stateAction] {
  display: inherit;
}
